export(addTag)
export(boots2db)
export(db2boots)
export(getKeysFromDb)
export(wrap)
exportClasses(boots)
exportClasses(bootsKey)
exportMethods("appendMeta<-")
exportMethods(createHstore)
exportMethods(getMeta)
exportMethods(plot)
